    <section class="links">
        <div class="social-media">
            <h3>Follow US</h3>
            <div class="social">
                <img src="./images/facebook.png" alt="">
                <img src="./images/twitter.png" alt="">
                <img src="./images/instagram.png" alt="">
            </div>
            <div class="app">
                <img src="./images/google play.png" alt="">
            </div>
        </div>
        <div class="frequent-routes">
            <h3>Top Destinations</h3>
            <div class="link-container">
                <a href="">Nairobi - Mombasa</a>
                <a href="">Nairobi - Kampala</a>
                <a href="">Nairobi - Daresalaam</a>
                <a href="">Mombasa - Daresalaam</a>
                <a href="">Mombasa - Malaba</a>
                <a href="">Mombasa - Kitale</a>
            </div>
        </div>
        <div class="booking">
            <h3>Booking Offices</h3>
            <div class="office-container">
                <p>Nairobi Office</p>
                <p>Ground Floor, Zahra Building</p>
                <p>River Rd, Nairobi</p>
                <p>Ticket Management: +254 7123456789</p>
                <p>Mombasa Office</p>
                <p>Aswan Building</p>
                <p>Kenyatta Avenue</p>
                <p>Mwembe Tayari</p>
            </div>
        </div>
        <div class="sponsor">
            <p>Powered <br>by:</p>
            <div>
                <img src="./images/energy.png" alt=""> 
                <h3>ELECTRON</h3>
            </div>
                       
        </div>
    </section>
    <footer>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
        </ul>
        <p>Copyright &copy; 2025. All Rights Reserved</p>
    </footer>