<header>
        <nav>
            <div class="nav-top">
                <ul>
                    <li><a href="#"><img src="./images/twitter-x.svg" alt=""></a></li>
                    <li><a href="#"><img src="./images/instagram.svg" alt=""></a></li>
                    <li><a href="#"><img src="./images/threads-fill.svg" alt=""></a></li>
                </ul>

            </div>
            <div class="nav-btm">
                <img src="./images/destination.png" alt="website logo" class="logo">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact US</a></li>
                    <li><a href="#" class="open-login">Sign in/ Register</a></li>
                </ul>
            </div>
        </nav>
    </header>