<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safiri | About Us</title>
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <%- include("partials/modal.ejs") %>

    <section class="container">
        <div class="about-container">
            <h2> About Safiri</h2>
                
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In enim unde itaque dolorum repellendus quas! Ab debitis nesciunt ipsa nihil similique laborum, dicta illo quasi ratione dignissimos at consequatur officia sit cum corrupti omnis unde doloremque esse facilis. Distinctio fugiat rerum sed deserunt, magnam numquam facilis odio maxime reiciendis commodi sequi quae. Quidem cum aliquam natus, fuga et tempore aspernatur expedita veniam optio asperiores voluptatem. Distinctio reprehenderit voluptas vitae quasi illum dicta laboriosam dolorum! Voluptates esse recusandae laborum accusantium quis! In hic sequi quas officia, dignissimos sint error consectetur eos aut quisquam totam nisi quaerat veniam facere accusantium voluptatum numquam, magni possimus temporibus odio. Amet numquam magni sapiente dolorum. Iste voluptate natus, explicabo libero qui eum dolore laborum porro debitis earum, fugit atque! Enim itaque obcaecati ab laborum dolorem repellat blanditiis dolore neque fugit iste. Dolor porro, nemo vero minus dolore nulla laborum expedita at minima quod adipisci ducimus quidem dolores! Perspiciatis debitis neque sint consectetur minima ex earum inventore, illo reprehenderit esse excepturi qui optio consequuntur, possimus similique? Dolor nihil quidem commodi inventore tempore molestias quo, ut accusamus laudantium blanditiis. Amet aspernatur quidem alias incidunt dolores aliquid animi praesentium tempora at possimus, itaque sed laboriosam laudantium consequuntur perspiciatis iste illum! Dolor distinctio, ab ad minus voluptate deserunt labore! Temporibus ex, autem quibusdam explicabo culpa sapiente! Accusantium accusamus velit nulla nesciunt quo. Accusantium officiis doloremque, quas perferendis eos minima harum eius et pariatur ipsum impedit excepturi odit accusamus explicabo beatae totam consequatur. Natus incidunt quis tempore nisi recusandae. Voluptate minima vitae dolorum ratione aut sed molestias doloremque tempora odit consequatur, saepe voluptatem itaque delectus sunt voluptatibus harum iusto reprehenderit modi ab quidem dolor dolores. Eveniet totam laborum minus iusto. Rerum delectus repudiandae tenetur, dolore est doloribus sunt, facilis facere, maiores error modi natus et. Error nesciunt fugit ullam tempore ipsam.
            
            </p>
        </div>
    </section>

    <%- include("partials/footer.ejs") %>
</body>
</html>