<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safiri | Book & Travel With Us</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    <%- include("partials/header.ejs") %>
    <%- include("partials/modal.ejs") %>

    <section class="landing">
        <div class="content">
            <h1>Safiri na sisi!</h1>
        </div>
        <div class="form-container">
            <h2>Book >> Pay >> Travel</h2>
            <form action="">
                
                <input type="text" placeholder="Where from">
                
                <input type="text" placeholder="Where to">
                
                <input type="date">

               <button>Search</button>
            </form>
        </div>
    </section>
    <section class="marketing">
        <h2>Why US?</h2>
        <div class="grid-container">
            <div class="col">
                <img src="/images/payment-method.png" alt="">
                <h3>Pay from Mobile</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nemo in quidem iste enim laudantium dolores at natus assumenda </p>
            </div>
            <div class="col">
                <img src="/images/customer-service.png" alt="">
                <h3>We Listen</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nemo in quidem iste enim laudantium dolores at natus assumenda </p>
            </div>
            <div class="col">
                <img src="/images/international.png" alt="">
                <h3>Cross Boundaries</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nemo in quidem iste enim laudantium dolores at natus assumenda </p>
            </div>
            <div class="col">
                <img src="/images/bus.png" alt="">
                <h3>Sleeping Coach</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nemo in quidem iste enim laudantium dolores at natus assumenda </p>
            </div>
            <div class="col">
                <img src="/images/dumbbell.png" alt="">
                <h3>Amenities</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nemo in quidem iste enim laudantium dolores at natus assumenda </p>
            </div>
            <div class="col">
                <img src="/images/comfort.png" alt="">
                <h3>Comfort</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nemo in quidem iste enim laudantium dolores at natus assumenda </p>
            </div>
        </div>
    </section>
    <section class="banner">
        <!-- image in background -->
    </section>
    <section class="travel">
        <h2>Popular Destinations</h2>
        <div class="travel-grid">
            <div class="travel-col">
                <img src="/images/dc.jpg" alt="">
                <div class="place-info">
                    <p>NAIROBI</p>
                    <p>KES 1500</p>
                </div>
            </div>
            <div class="travel-col">
                <img src="/images/kansas.jpeg" alt="">
                <div class="place-info">
                    <p>MERU</p>
                    <p>2500</p>
                </div>
            </div>
            <div class="travel-col">
                <img src="/images/ohio.jpeg" alt="">
                <div class="place-info">
                    <p>MOMBASA</p>
                    <p>KES 2500</p>
                </div>
            </div>
            <div class="travel-col">
                <img src="/images/oregon.jpeg" alt="">
                <div class="place-info">
                    <p>KISUMU</p>
                    <p>KES 3500</p>
                </div>
            </div>
            <div class="travel-col">
                <img src="/images/new york.jpeg" alt="">
                <div class="place-info">
                    <p>MALINDI</p>
                    <p>KES 2500</p>
                </div>
            </div>
            <div class="travel-col">
                <img src="/images/toronto.jpeg" alt="">
                <div class="place-info">
                    <p>NAKURU</p>
                    <p>KES 2700</p>
                </div>
            </div>              
        </div>
    </section>
    <section class="offers">
        <div class="offer-container">
            <img src="/images/special-tag.png" alt="">
            <img src="/images/coming-soon.png" alt="">
            <img src="/images/bonus.png" alt="">
            
            <h3>Take part in the discount compaign</h3>
        </div>
        <button>Book a Ticket</button>
    </section>

    <%- include("partials/footer.ejs") %>

</body>
</html>
